<nav class="nav navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <span class="navbar-brand pointer" routerLink="['/']">Room Booker</span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-expanded="false" aria-controls="mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Content that should be toggled -->
    <div id="mainNav" class="collapse navbar-collapse">
      <ul *ngIf="!isLoggedIn" class="navbar-nav ml-auto" ng-cloak>  
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/login']">
            <fa-icon [icon]="faSignIn"></fa-icon> Login
          </a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/register']">
            <fa-icon [icon]="faNewUser"></fa-icon> Register
          </a>
        </li>
      </ul>
      
      <ul *ngIf="isLoggedIn" class="navbar-nav ml-auto" ng-cloak>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">
            <fa-icon [icon]="faSignOut"></fa-icon> Logout
          </a>
        </li> 
      </ul>
    </div>
  </div>
</nav>
